$color-orange: #f98a09;
$color-red: #FF0000;
$color-white: #FFFFFF;
$color-black: #000;

html, 
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 20px 0;
}

.main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h1 {
        color: $color-black;
    }
}